# Python
*.egg-info
*__pycache__*
build
stacks
venv
env
.venv
.pytest_cache

# AIM Administrator Credentials
.credentials.yaml

# AIM Resources
Resources/
aim_ftest

# Buildout
bin
eggs
parts
develop-eggs
.installed.cfg
profile.sh

# macos
*.DS_Store
.AppleDouble
.LSOverride

\#*
\.#*

# build artifacts
include/
lib/
share/
var/

# run artifacts
*.pid
.noseids

# Bootstrap
dist/

# Sphinx
docs/_build

# IDE
.vscode/
