.wy-nav-content {
    background: #ffffff !important;
}

.wy-nav-content {
    max-width: 1000px !important;
}

.wy-nav-content p {
    font-size: 15px !important;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
    white-space: normal !important;
}

.wy-table td,
.rst-content table.docutils td,
.rst-content table.field-list td {
    vertical-align: top !important;
}

 /* Icons */
 .fa-check {
     color: green;
     font-size: 1.5em;
 }

 .fa-times {
    color: red;
    font-size: 1.5em;
}

.wy-table-responsive {
    clear: both;
}

.highlight-yaml {
    clear: both;
}

.literal-block-wrapper {
    clear: both;
}

.rst-content .sidebar {
    width: 50%;
}