/* splash */

.paco-body {
  background-color: #ffffff;
}

.paco-container {
  text-align: left;
  margin: 40px auto 40px 300px;
  width: 800px;
}

.paco-splash {
  text-align: left;
  align: left;
}

.waterbear-header {
  background-color: black;
  padding: 8px 20px 8px 300px;
}

.paco-section {
  margin-top: 40px;
}

.paco-right {
  float: right;
  margin: 12px 0px 10px 30px;
}

.paco-left {
  float: left;
  margin: 12px 30px 10px 0px;
}

.paco-links ul {
  list-style-type: none;
  margin: 18px 0 0 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.paco-links li {
  float: left;
}

li.paco-doc {
  color: #e1e1e1;
  padding: 12px 16px;
  background-color: #afafaf;
}

.paco-links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.paco-links li a:hover {
  background-color: #111;
}


/* navigation */

.wy-side-nav-search {
  border-right: 1px solid #9b9b9b;
}

.wy-side-nav-search>div.version {
  color: #7a7c7c;
}

a.icon-home {
  color: #3066be;
}

.wy-nav-content {
  background: #ffffff !important;
}

.wy-nav-content {
  max-width: 1050px !important;
}

.wy-nav-content p {
  font-size: 15px;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
  white-space: normal !important;
}

.wy-table td,
.rst-content table.docutils td,
.rst-content table.field-list td {
  vertical-align: top !important;
}

 /* Icons */
 .fa-check {
  color: green;
  font-size: 1.2em;
 }

 .fa-times {
  color: red;
  font-size: 1.2em;
}

.wy-table-responsive {
  clear: both;
}

.highlight-yaml {
    clear: both;
}

.literal-block-wrapper {
  clear: both;
}

.rst-content .sidebar {
  float: none;
  width: 100%;
}

.wy-nav-content h4 {
  font-size: 130%;
}

.wy-nav-content caption,
.wy-nav-content .code-block-caption
{
  text-align: left !important;
  padding: 1em 0 5px 0 !important;
}

.wy-nav-content .wy-table-responsive span.caption-text
 {
    border: 1px solid black;
    border-bottom: none;
    background: #e8e8e8;
    font-size: 120%;
    border-radius: 4px 4px 0px 0px;
    padding: 4px 20px 4px 6px;
}

.wy-nav-content .rst-content .code-block-caption {
  font-style: normal !important;
}

.wy-nav-content .rst-content span.guilabel {
  border: none;
  background: #e8e8e8;
  font-style: normal !important;
}

.wy-table-responsive th.head {
  padding: 0.5em;
  border: 1px solid black;
}

.wy-table-responsive th.head p {
  margin-bottom: 0px;
}

.wy-table-responsive table.docutils td p {
  margin-bottom: 0px;
}

.rst-content .wy-table-responsive table.docutils td {
  padding: 7px 12px;
  font-size: 70%;
}

.rst-content .wy-table-responsive table.docutils:not(.field-list) tr:nth-child(2n-1) td {
  background-color: #f3f3f3;
  font-size: 13px !important;
}

.rst-content dl.simple dt {
  border-top: none;
  color: black;
}