/* splash */

@media screen and (max-width: 500px){

  .waterbear-header {
    background-color: black;
    padding: 8px 20px 8px 20px;
  }

  .paco-container {
    text-align: left;
    margin: 40px auto 40px 20px;
    width: 340px;
  }

  .gitfork {
    visibility: hidden;
  }

}

@media screen and (min-width: 501px){

  .waterbear-header {
    background-color: black;
    padding: 8px 20px 8px 80px;
  }

  .paco-container {
    text-align: left;
    margin: 40px auto 40px 80px;
    width: 500px;
  }

}

@media screen and (min-width: 880px){

  .waterbear-header {
    background-color: black;
    padding: 8px 20px 8px 80px;
  }

  .paco-container {
    text-align: left;
    margin: 40px auto 40px 80px;
    width: 800px;
  }

}

.paco-body {
  background-color: #ffffff;
}

.paco-splash {
  text-align: left;
  align: left;
}

.paco-section {
  margin-top: 40px;
}

.paco-right {
  float: right;
  margin: 12px 0px 10px 30px;
}

.paco-left {
  float: left;
  margin: 12px 30px 10px 0px;
}

.paco-links ul {
  list-style-type: none;
  margin: 18px 0 0 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.paco-links li {
  float: left;
}

li.paco-doc {
  color: #e1e1e1;
  padding: 12px 16px;
  background-color: #afafaf;
}

.paco-links li a {
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

.paco-links li a:hover {
  background-color: #111;
}


/* navigation */

.wy-side-nav-search {
  border-right: 1px solid #9b9b9b;
}

.wy-side-nav-search>div.version {
  color: #7a7c7c;
}

a.icon-home {
  color: #3066be;
}

.wy-nav-content {
  background: #ffffff !important;
}

.wy-nav-content {
  max-width: 1050px !important;
}

.wy-nav-content p {
  font-size: 15px;
}

.wy-table-responsive table td,
.wy-table-responsive table th {
  white-space: normal !important;
}

.wy-table td,
.rst-content table.docutils td,
.rst-content table.field-list td {
  vertical-align: top !important;
}

 /* Icons */
 .fa-check {
  color: green;
  font-size: 1.2em;
 }

 .fa-times {
  color: red;
  font-size: 1.2em;
}

.fa-star {
  color: #B22222;
  font-size: 9px;
  vertical-align: super;
}

.wy-table-responsive {
  clear: both;
}

.highlight-yaml {
    clear: both;
}

.literal-block-wrapper {
  clear: both;
}

.rst-content .sidebar {
  float: none;
  width: 100%;
}

.wy-nav-content h4 {
  font-size: 130%;
}

.wy-nav-content caption,
.wy-nav-content .code-block-caption
{
  text-align: left !important;
  padding: 1em 0 5px 0 !important;
}

.wy-nav-content .wy-table-responsive span.caption-text
 {
    border: 1px solid black;
    border-bottom: none;
    background: #e8e8e8;
    font-size: 120%;
    border-radius: 4px 4px 0px 0px;
    padding: 4px 20px 4px 6px;
}

.wy-nav-content .rst-content .code-block-caption {
  font-style: normal !important;
}

.wy-nav-content .rst-content span.guilabel {
  border: none;
  background: #e8e8e8;
  font-style: normal !important;
}

.wy-table-responsive th.head {
  padding: 0.5em;
  border: 1px solid black;
}

.wy-table-responsive th.head p {
  margin-bottom: 0px;
}

.wy-table-responsive table.docutils td p {
  margin-bottom: 0px;
}

.rst-content .wy-table-responsive table.docutils td {
  padding: 7px 12px;
  font-size: 14px !important;
}

.rst-content .wy-table-responsive table.docutils:not(.field-list) tr:nth-child(2n-1) td {
  background-color: #f3f3f3;
}

.rst-content dl.simple dt {
  border-top: none;
  color: black;
  background: none;
}

.rst-content .section dl dt {
  background: none;
  border-top: none;
  border-bottom: 1px dotted #aaaaaa;
}


/*
grey #36313d
blue #096FB3
green #137886
*/

.sig-prename, .sig-name, .sig-paren{
  color: #137886 !important;
  font-weight: normal !important;
}

.sig-param {
  color: #096FB3;
  font-weight: normal;
  font-style: normal;
  padding: 0 2px;
}

code.literal, span.pre {
  color: #096FB3;
}
pre {
  line-height: 1.5;
  font-feature-settings: "clig" 0, "calt" 0;
  font-variant: no-common-ligatures no-discretionary-ligatures no-historical-ligatures no-contextual;
}

span.n { color: #096FB3; }
span.k { color: #137886 !important; }
span.p { color: #137886; }
span.l { color: #137886; }
.highlight .hll { background-color: #ffffcc }
.highlight  { background: #f8f8f8; }
.highlight .c { color: #36313d; font-style: normal } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: normal } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .ch { color: #36313d; font-style: normal } /* Comment.Hashbang */
.highlight .cm { color: #36313d; font-style: normal } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .cpf { color: #36313d; font-style: normal } /* Comment.PreprocFile */
.highlight .c1 { color: #36313d; font-style: normal } /* Comment.Single */
.highlight .cs { color: #36313d; font-style: normal } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: normal } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: normal } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: normal } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: normal } /* Generic.Subheading */
.highlight .gt { color: #0044DD } /* Generic.Traceback */
.highlight .kc { color: #096FB3; font-weight: normal } /* Keyword.Constant */
.highlight .kd { color: #096FB3; font-weight: normal } /* Keyword.Declaration */
.highlight .kn { color: #096FB3; font-weight: normal } /* Keyword.Namespace */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: normal } /* Keyword.Reserved */
.highlight .kt { color: #B00040 } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #137886 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #137886; font-weight: normal } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: normal } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: normal } /* Name.Exception */
.highlight .nf { color: #137886 } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn {color: #096FB3;font-weight: normal;} /* Name.Namespace */
.highlight .nt { color: #137886; font-weight: normal } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: normal } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #666666 } /* Literal.Number.Bin */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sa { color: #36313d } /* Literal.String.Affix */
.highlight .sb { color: #36313d } /* Literal.String.Backtick */
.highlight .sc { color: #36313d } /* Literal.String.Char */
.highlight .dl { color: #36313d } /* Literal.String.Delimiter */
.highlight .sd { color: #36313d; font-style: normal } /* Literal.String.Doc */
.highlight .s2 { color: #36313d } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: normal } /* Literal.String.Escape */
.highlight .sh { color: #36313d } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: normal } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #36313d } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #137886 } /* Name.Function.Magic */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .vm { color: #19177C } /* Name.Variable.Magic */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
