[Unit]
Description=A minimal PyPI server for use with pip/easy_install.
After=network.target

[Service]
Type=simple
# systemd requires absolute path here too.
PIDFile=/var/run/pypiserver.pid
User=www-data
Group=www-data

ExecStart=/usr/local/bin/pypi-server -p 8080 -a update,download -P /var/pypi/htpasswd.txt --disable-fallback --log-file /var/log/pypiserver.log  /var/pypi
ExecStop=/bin/kill -TERM $MAINPID
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

WorkingDirectory=/var/pypi

TimeoutStartSec=3
RestartSec=5

[Install]
WantedBy=multi-user.target
